@import url('https://fonts.googleapis.com/css?family=Roboto:700,400');

@font-face {
                          font-family: "RedHatDisplay-Bold";
                          src: url('../fonts/RedHatDisplay-Bold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "RedHatDisplay-Regular";
                          src: url('../fonts/RedHatDisplay-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "RedHatDisplay-Medium";
                          src: url('../fonts/RedHatDisplay-Medium.ttf') format("truetype");
                        }
                        
.gigalandingdesktop {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1989px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.gigalandingdesktop .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 1989px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .mapcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1340px;
  height              : 340px;
  width               : 340px;
  position            : absolute;
  margin              : 0;
  left                : 550px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 339px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .globalinformationg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 69px;
  height              : auto;
  width               : 958px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 41.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.gigalandingdesktop .globalinformationg .span1 {
  
}
.gigalandingdesktop .globalinformationg .span2 {
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
}
.gigalandingdesktop .stackedgroup2 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  top                 : 265px;
  height              : 22px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 177px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup2 .stackedgroup31 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 22px;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup2 .stackedgroup31 .map {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.8px;
  line-height         : 16.0px;
}
.gigalandingdesktop .stackedgroup2 .stackedgroup31 .iconchevronwhite {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 22px;
  margin              : 0 0 0 0px;
  width               : 22px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup2 .stackedgroup31 .iconchevronwhite .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup2 .stackedgroup31 .iconchevronwhite .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 13px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.gigalandingdesktop .stackedgroup2 .stackedgroup4 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 22px;
  margin              : 0 0 0 3px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup2 .stackedgroup4 .finance1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.8px;
  line-height         : 16.0px;
}
.gigalandingdesktop .stackedgroup2 .stackedgroup4 .iconchevronwhitecopy {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 22px;
  margin              : 0 0 0 0px;
  width               : 22px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup2 .stackedgroup4 .iconchevronwhitecopy .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup2 .stackedgroup4 .iconchevronwhitecopy .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 13px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.gigalandingdesktop .stackedgroup2 .stackedgroup5 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 16px;
  margin              : 0 0 0 3px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup2 .stackedgroup5 .connect1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.8px;
  line-height         : 16.0px;
}
.gigalandingdesktop .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 402px;
  height              : 120px;
  width               : 306px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .groupcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1100px;
  height              : 120px;
  width               : 306px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup3 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 421px;
  height              : auto;
  width               : 958px;
  position            : absolute;
  margin              : 0;
  left                : 312px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup3 .becomeachampionof {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 958px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(87, 0, 99, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.gigalandingdesktop .stackedgroup3 .provideuswithafe {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 8px 0 0 0;
  width               : 456px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .rectanglecopy4 {
  background-color    : rgba(236, 236, 236, 1.0);
  top                 : 616px;
  height              : 402px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .formfieldsinglelinecopy10 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 691px;
  height              : auto;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .formfieldsinglelinecopy10 .yourname {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(150, 150, 150, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .formfieldsinglelinecopy10 .line {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 9px 0 0 0;
  width               : 296px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .formfieldsinglelinecopy12 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 753px;
  height              : auto;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .formfieldsinglelinecopy12 .organisationname {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(150, 150, 150, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .formfieldsinglelinecopy12 .line {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 9px 0 0 0;
  width               : 296px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .formfieldsinglelinecopy11 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 941px;
  height              : auto;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .formfieldsinglelinecopy11 .contactpersonu2019snam {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(150, 150, 150, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .formfieldsinglelinecopy11 .line {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 9px 0 0 0;
  width               : 296px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .formfieldsinglelinecopy19 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 941px;
  height              : auto;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 514px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .formfieldsinglelinecopy19 .email {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(150, 150, 150, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .formfieldsinglelinecopy19 .line {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 9px 0 0 0;
  width               : 295px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .formfieldsinglelinecopy17 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 691px;
  height              : auto;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 514px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .formfieldsinglelinecopy17 .email {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(150, 150, 150, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .formfieldsinglelinecopy17 .line {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 9px 0 0 0;
  width               : 295px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup10copy2 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 860px;
  height              : auto;
  width               : 480px;
  position            : absolute;
  margin              : 0;
  left                : 174px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup10copy2 .telluswhoweshoulcopy {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 20px;
  margin              : 0;
  width               : 480px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.gigalandingdesktop .stackedgroup10copy2 .stackedgroup3copy2 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 6px 0 0 0;
  width               : 304px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup10copy2 .stackedgroup3copy2 .stackedgroup4 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 20px;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup10copy2 .stackedgroup3copy2 .stackedgroup4 .oval {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 17px;
  margin              : 0;
  width               : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup10copy2 .stackedgroup3copy2 .stackedgroup4 .sameasmypersonal {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 20px;
  margin              : 0 0 0 12px;
  width               : 277px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.gigalandingdesktop .personalinformationcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 640px;
  height              : 16px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.8px;
  line-height         : 16.0px;
}
.gigalandingdesktop .contactinformation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 830px;
  height              : 16px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.8px;
  line-height         : 16.0px;
}
.gigalandingdesktop .bigbuttonblacktextfill {
  background-color    : rgba(255,255,255,0.0);
  top                 : 927px;
  height              : 46px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 856px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill .swatchgreen {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill .swatchgreen .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill .swatchgreen .swatchpurple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill .swatchgreen .swatchpurple .rectangle2 {
  background-color    : rgba(255, 215, 64, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 296px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill .swatchgreen .statehover {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill .swatchgreen .statehover .rectanglecopy41 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 296px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.gigalandingdesktop .bigbuttonblacktextfill .joinatrium {
  background-color    : rgba(255,255,255,0.0);
  width               : 267px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 17.0px;
}
.gigalandingdesktop .bigbuttonblacktextfill .joinatrium-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 15px;
  align-items         : center;
  height              : 17px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.gigalandingdesktop .stackedgroup9 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 1109px;
  height              : auto;
  width               : 838px;
  position            : absolute;
  margin              : 0;
  left                : 312px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup9 .keycomponentsofgi {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 838px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(87, 0, 99, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.gigalandingdesktop .stackedgroup9 .loremipsumdolorsi {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 8px 0 0 0;
  width               : 479px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .mapcopy31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1340px;
  height              : 340px;
  width               : 340px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .mapcopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1340px;
  height              : 340px;
  width               : 340px;
  position            : absolute;
  margin              : 0;
  left                : 918px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .rectanglecopy10 {
  background-color    : rgba(115, 72, 179, 1.0);
  top                 : 1596px;
  height              : 169px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.gigalandingdesktop .rectanglecopy11 {
  background-color    : rgba(115, 72, 179, 1.0);
  top                 : 1596px;
  height              : 169px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 568px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.gigalandingdesktop .rectanglecopy12 {
  background-color    : rgba(115, 72, 179, 1.0);
  top                 : 1596px;
  height              : 169px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 936px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.gigalandingdesktop .useschoolsasanincopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1652px;
  height              : auto;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 206px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .deviseasustainable {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1652px;
  height              : auto;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 584px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .deviseasustainable1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1652px;
  height              : auto;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 952px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .mapcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1605px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 206px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.gigalandingdesktop .finance {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1605px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 584px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.gigalandingdesktop .connect {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1605px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 952px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.gigalandingdesktop .rectangle1 {
  background-color    : rgba(236, 236, 236, 1.0);
  top                 : 1893px;
  height              : 96px;
  width               : 1445px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .ifyouhaveanyquer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1935px;
  height              : auto;
  width               : 683px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .ifyouhaveanyquer .span1 {
  
}
.gigalandingdesktop .ifyouhaveanyquer .span2 {
  color               : rgba(115, 72, 179, 1.0);
}
.gigalandingdesktop .bigbuttonblacktextfill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1870px;
  height              : 46px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill1 .swatchgreen {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill1 .swatchgreen .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill1 .swatchgreen .swatchpurple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill1 .swatchgreen .swatchpurple .rectangle2 {
  background-color    : rgba(255, 215, 64, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 304px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill1 .swatchgreen .statehover {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .bigbuttonblacktextfill1 .swatchgreen .statehover .rectanglecopy41 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 304px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.gigalandingdesktop .bigbuttonblacktextfill1 .joinatrium {
  background-color    : rgba(255,255,255,0.0);
  width               : 275px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 17.0px;
}
.gigalandingdesktop .bigbuttonblacktextfill1 .joinatrium-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 15px;
  align-items         : center;
  height              : 17px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.gigalandingdesktop .stackedgroup12 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 753px;
  height              : auto;
  width               : 299px;
  position            : absolute;
  margin              : 0;
  left                : 514px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup12 .stackedgroup121 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : flex-end;
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 24px;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup12 .stackedgroup121 .organisationtype {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 279px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(150, 150, 150, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .stackedgroup12 .stackedgroup121 .iconchevroninactive {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 20px;
  margin              : 0 0 0 0px;
  width               : 20px;
  overflow            : hidden;
  -ms-transform       : rotate(-270deg); /* IE 9 */
  -webkit-transform   : rotate(-270deg); /* Chrome, Safari, Opera */
  transform           : rotate(-270deg);
}
.gigalandingdesktop .stackedgroup12 .stackedgroup121 .iconchevroninactive .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup12 .stackedgroup121 .iconchevroninactive .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 12px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.gigalandingdesktop .stackedgroup12 .line {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 7px 0 0 0;
  width               : 296px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup12copy {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 753px;
  height              : auto;
  width               : 299px;
  position            : absolute;
  margin              : 0;
  left                : 855px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup12copy .stackedgroup121 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : flex-end;
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 24px;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup12copy .stackedgroup121 .selectcountryofop {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 279px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(150, 150, 150, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gigalandingdesktop .stackedgroup12copy .stackedgroup121 .iconchevroninactive {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 20px;
  margin              : 0 0 0 0px;
  width               : 20px;
  overflow            : hidden;
  -ms-transform       : rotate(-270deg); /* IE 9 */
  -webkit-transform   : rotate(-270deg); /* Chrome, Safari, Opera */
  transform           : rotate(-270deg);
}
.gigalandingdesktop .stackedgroup12copy .stackedgroup121 .iconchevroninactive .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .stackedgroup12copy .stackedgroup121 .iconchevroninactive .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 12px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.gigalandingdesktop .stackedgroup12copy .line {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 7px 0 0 0;
  width               : 296px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gigalandingdesktop .giga {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 2.8px;
  line-height         : 29.0px;
}
.gigalandingdesktop .globalinformationg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  line-height         : 23.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}